= provide :my_title, "User's Collections"

.row
  .user-main.col-md-12
    .user-left.col-md-3
      - if @user.avatar?
        = image_tag @user.avatar, width: "300px", class: "img-responsive"
      - else
        %img.img-responsive.img-rounded(src="http://via.placeholder.com/150x150")/
      %h3= @user.name
    .user-right.col-md-9
      %p= @user.intro
      = link_to edit_user_path(@user) do
        %i.fas.fa-pen-square.fa-2x
    .clearfix
.row
  .portfolio-main.col-md-12
    %ul.nav.nav-tabs
      %li{role: "presentation"}
        = link_to 'My Post', user_path
      %li{role: "presentation"}
        = link_to "My Comment", comments_user_path
      %li.active{role: "presentation"}
        = link_to "My Collect", collections_user_path
      %li{role: "presentation"}
        = link_to "My Draft", "#"
      %li{role: "presentation"}
        = link_to "My Friend", "#"
    %table.table.table-bordered.table-hover
      %tbody
        - @collections.each do |collection|
          %tr
            %th= link_to collection.title, post_path(collection)
            %td= link_to 'Discollect', discollect_post_path(collection), method: :post, class: "btn btn-danger"
  .text-center
    = paginate @collections