= provide :my_title, "User's Comments"

.row
  = render 'shared/profile', object: @user
.row
  .portfolio-main.col-md-12
    %ul.nav.nav-tabs
      %li{role: "presentation"}
        = link_to 'My Post', user_path
      %li.active{role: "presentation"}
        = link_to "My Comment", comments_user_path
      - if @user == current_user
        %li{role: "presentation"}
          = link_to "My Collect", collections_user_path
        %li{role: "presentation"}
          = link_to "My Draft",  drafts_user_path
        %li{role: "presentation"}
          = link_to "My Friend", friends_user_path
    %table.table.table-bordered.table-hover
      - @comments.each do |comment|
        %tbody{id: "comment-my_comment-#{comment.id}"}
          %tr
            %th= link_to comment.post.title, post_path(comment.post)
            %th
          %tr
            %td= comment.content
            %td
              = link_to edit_post_comment_path(comment.post, comment) do
                %i.fas.fa-pencil-alt.fa-2x
              = link_to post_comment_path(comment.post, comment), method: :delete, data: { confirm: "Are you sure?"}, remote: true do
                %i.fas.fa-trash-alt.fa-2x
  .text-center
    = paginate @comments