= provide :my_title, "User's Drafts"

.row
  = render 'shared/profile', object: @user
.row
  .portfolio-main.col-md-12
    %ul.nav.nav-tabs
      %li{role: "presentation"}
        = link_to 'My Post', user_path
      %li{role: "presentation"}
        = link_to "My Comment", comments_user_path
      %li{role: "presentation"}
        = link_to "My Collect", collections_user_path
      %li.active{role: "presentation"}
        = link_to "My Draft",  drafts_user_path
      %li{role: "presentation"}
        = link_to "My Friend", friends_user_path
    %table.table.table-bordered.table-hover
      %tbody
        - if @drafts == []
          %tr
            %th There is no Draft!
        - else
          - @drafts.each do |draft|
            %tr
              %th= draft.title
              %td Draft
              %td= draft.created_at
              %td
                = link_to edit_post_path(draft) do
                  %i.fas.fa-pencil-alt.fa-2x
                = link_to post_path(draft, from: "my_drafts"), method: :delete, data: { confirm: "Are you sure?"} do
                  %i.fas.fa-trash-alt.fa-2x
  .text-center
    = paginate @drafts