= provide :my_title, "User's Friends"

.row
  = render 'shared/profile', object: @user
.row
  .portfolio-main.col-md-12
    %ul.nav.nav-tabs
      %li{role: "presentation"}
        = link_to 'My Post', user_path
      %li{role: "presentation"}
        = link_to "My Comment", comments_user_path
      %li{role: "presentation"}
        = link_to "My Collect", collections_user_path
      %li{role: "presentation"}
        = link_to "My Draft",  drafts_user_path
      %li.active{role: "presentation"}
        = link_to "My Friend", friends_user_path
    %table.table.table-bordered.table-hover.friends
      %tr.friend-waiting
        %th
          %h2 等待回應
      %tr.friend-waiting
        %td
          - if @target_friends.empty?
            %h3 你這陣子沒有申請朋友
          - else
            - @target_friends.each do |target|
              .col-md-1
                - if target.avatar?
                  = image_tag target.avatar, width: '32px', class: "img-responsive"
                - else
                  %img.img-responsive.img-rounded(src="http://via.placeholder.com/48x48")/
                %p= link_to target.name.capitalize, user_path(target)
              .clearfix
      %tr.friend-decision
        %th
          %h2 這陣子的申請者
      %tr.friend-decision
        %td
          - if @applicants.empty?
            %h3 這陣子沒有新的邀請
          - else
            - @applicants.each do |applicant|
              .col-md-2
                - if applicant.avatar?
                  = image_tag applicant.avatar, width: '32px', class: "img-responsive"
                - else
                  %img.img-responsive.img-rounded(src="http://via.placeholder.com/48x48")/
                %p= link_to applicant.name.capitalize, user_path(applicant)
                %p#decision-block
                  = render 'decision', object: applicant
      %tr.friend-confirm
        %th 
          %h2 你的朋友清單
      %tr.friend-confirm
        %td
          - if @friends.empty?
            %h3 你居然沒有朋友，快去找新增好友！
          - else
            - @friends.each do |friend|
              .col-md-1
                - if friend.avatar?
                  = image_tag friend.avatar, width: '32px', class: "img-responsive"
                - else
                  %img.img-responsive.img-rounded(src="http://via.placeholder.com/48x48")/
                %p= link_to friend.name.capitalize, user_path(friend)