%table.table.table-bordered.table-hover
  %thead
    %tr
      %th Replies count
      %th Title
      %th Last replied at
      %th Viewed count
  %tbody
    - objects.each do |object|
      %tr
        %td
          .replies_count= object.comments_count
        %td= link_to "#{object.title}", post_path(object)
        %td
          - if object.comments.size == 0
            %p Give a reply!
          - else
            = object.comments.last.created_at.in_time_zone('Taipei').strftime("%Y-%m-%d")
        %td
          %i.fas.fa-eye.fa-sm
          = object.views_count
.text-center
  = paginate objects