%table.table.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link 'comments_count', 'Replies count'
      %th Title
      %th= sort_link 'lastreplies', 'Last replied at'
      %th= sort_link 'views_count', 'Viewed count'
  %tbody
    - objects.each do |object|
      %tr
        %td
          .replies_count= object.comments_count
        %td= link_to "#{object.title}", post_path(object)
        %td
          - if object.comments.size == 0
            %p Give a reply!
          - else
            = object.lastreplies.in_time_zone('Taipei').strftime("%Y-%m-%d")
        %td
          %i.fas.fa-eye.fa-sm
          = object.views_count
.text-center
  = paginate objects