= provide :my_title, "Category List"

.row
  .col-md-12
    .switch
      = link_to 'Category List', admin_categories_path, class: "first active"
      = link_to 'User List', admin_users_path, class: "nonactive"

    .form-inline
      = simple_form_for [:admin, @category], html: { class: "text" } do |f|
        = f.input_field :name, label: false, placeholder: "Category Name"
        = f.submit nil, class: "btn btn-primary"
        - if @category.errors.any?
          %span= @category.errors.full_messages.to_sentence

    %table.table.table-bordered.table-hover
      %thead
        %tr
          %th
            Name
          %th
      %tbody
        - @categories.each do |category|
          %tr
            %td= category.name
            %td
              = link_to 'Edit', admin_categories_path(id: category.id)