= provide :my_title, "閱讀 #{@post.title}"
.container
  .row{id: "post-show-#{@post.id}"}
    = render 'shared/post_show', post: @post, categories: @categories

.container
  .row
    .comment#comment
      %hr/
      - @comments.each do |comment|
        %div{id: "comment-show-my_comment-#{comment.id}"}
          = render 'shared/post_comments', comment: comment
      .text-center
        = paginate @comments
    - if @post.privacy == "all" || @post.privacy == "friend"
      = simple_form_for [@post, @comment], remote: true, html: {class: "comment-form" } do |f|
        = f.input :content, placeholder: "Try to give tis post a comment!", label: false

        = f.submit nil, class: "btn btn-primary"
        = f.button :button, 'Cancel', type: :reset, class: "btn btn-default"