= provide :my_title, "閱讀 #{@post.title}"
.container
  .row
    .post-title.col-12
      %h1
        = @post.title
        %span#collect-block
          = render 'collect'
      - @categories.each do |ca|
        %ul.list-inline
          %li
            [
            = ca.category.name
            ]

  .post-main.row
    .post-author.col-md-3
      - if @post.user.avatar?
        = image_tag @post.user.avatar, width: "150px", class: "img-responsive"
      - else
        %img.img-responsive.img-rounded(src="http://via.placeholder.com/150x150")/  
      %p= link_to @post.user.name, user_path(@post.user)
      - if current_user.friend?(@post.user)
        %p Friend
      - elsif current_user.nobody?(@post.user)
        %p 已忽略
      - elsif current_user.target?(@post.user) || current_user.inverse_nobodys?(@post.user)
        %p 已提出申請
      - else
        = link_to 'Add Friend', applyings_path(target_id: @post.user), method: :post, class: "btn btn-primary"
    .post-content.col-md-9
      - if @post.image?
        = image_tag @post.image, width: "400px"
      - else
        %img.img-responsive.img-rounded(src="http://via.placeholder.com/400x400")/  
      %p= @post.content
    .post-button
      - if @post.user == current_user
        = link_to edit_post_path(@post) do
          %i.fas.fa-pencil-alt.fa-2x
      - if @post.user == current_user || current_user.role == "admin"
        = link_to post_path(@post), method: :delete, data: { confirm: "Are you sure?"} do
          %i.fas.fa-trash-alt.fa-2x

.container
  .row
    .comment#comment
      %hr/
      - @comments.each do |comment|
        %div{id: "comment-my_comment-#{comment.id}"}
          = render 'shared/post_comments', comment: comment
      .text-center
        = paginate @comments
    - if @post.privacy == "all" || @post.privacy == "friend"
      = simple_form_for [@post, @comment], remote: true, html: {class: "comment-form" } do |f|
        = f.input :content, placeholder: "Try to give tis post a comment!", label: false

        = f.submit nil, class: "btn btn-primary"
        = f.button :button, 'Cancel', type: :reset, class: "btn btn-default"