= provide :my_title, "User List"

.row
  .col-md-12
    .switch
      = link_to 'Category List', admin_categories_path, class: "first nonactive"
      = link_to 'User List', admin_users_path, class: "active"

    %table.table.table-bordered.table-hover
      %thead
        %tr
          %th
            Name
          %th
            E-mail
          %th
            Role
      %tbody
        - @users.each do |user|
          %tr
            %td= user.name
            %td= user.email
            %td
              = simple_form_for [:admin, user], html: { class: "form-inline" } do |f|
                = f.input :role, label: false, collection: User::USER_ROLE, label_method: :first, value_method: :second, html: { class: "form-control" }
                = f.submit 'Update', class: "btn btn-default"
    .text-center
      = paginate @users