!!!
%html
%head
  %title= yield(:my_title)
  = csrf_meta_tags
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  %link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato")/
  %link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono")
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %script(src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous")
  = filestack_js_include_tag
  = filestack_js_init_tag
%body
  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{:type => 'button', :data => {:toggle => 'collapse', :target => '#bs-example-navbar-collapse-1'}, :aria => {:expanded => 'false'}}
          %span.sr-only
            Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .navbar-brand
          Blizzard Fans Forum

      .collapse.navbar-collapse{:id => 'bs-example-navbar-collapse-1'}
        %ul.nav.navbar-nav.navbar-left
          %li= link_to 'Feeds', feeds_posts_path
          %li= link_to "All Post", root_path
          %li= link_to 'New Post', new_post_path
        %ul.pull-right.text-right.nav.navbar-nav
          - if current_user
            - if current_user.admin?
              %li
                = link_to 'Admin', admin_root_path
            %li
              %p.navbar-text= current_user.email
            %li= link_to 'Profile', user_path(current_user)
            %li= link_to "Sign Out", destroy_user_session_path, method: :delete
          - else
            %li= link_to "Sign In", new_user_session_path
  
  - if flash[:notice]
    .container
      .row
        .alert.alert-success.alert-dismissible{:role => 'alert'}
          %button.close{:type => 'button', :data => {:dismiss => 'alert'}, :aria => {:label => 'Close'}}
            %span{:aria => {:hidden => 'true'}}
              &times;
          = notice
  - if flash[:alert]
    .container
      .row
        .alert.alert-danger.alert-dismissible{:role => 'alert'}
          %button.close{:type => 'button', :data => {:dismiss => 'alert'}, :aria => {:label => 'Close'}}
            %span{:aria => {:hidden => 'true'}}
              &times;
          = alert
  .container
    = yield
  %footer.footer
    %p Alpha Camp Final Test